.container{
    padding: 1%;
}

.form{
    background-color: #666666   ;
    color:#262626;
    border-radius: 15px;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 50px 30px;
    text-align: center;
}

.inputsAdmin{
    display:flex;
    gap: 40px;
}

.inputs{
    display: grid;
    gap: 40px
}

.inputsAdmin a{
    display:flex;
    padding: 50px;
}

.inputs a{
    position: relative;
}

.date{
    cursor: pointer;
}

.button{
    color:#262626;
    background-color:#b0b0b0;
    font-size: 15px;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    padding: 10px 20px;
    transition-duration: font-size padding border 0,5s ;
}

.button:hover{
    background-color:#3d3d3d;
    color:#b0b0b0;
}

/*para dar la sensacion de que se presiona*/ 
.button:active{
    border: 2px solid black;
    padding: 8.5px 18px;
    font-size: 14px;
}


