
body {
  background-image:url('https://images.squarespace-cdn.com/content/v1/59121ef03a0411116f05234e/1494543656458-WIQTEFS54D2RENX3N6Z8/pole_6.gif');
  background-size: 20%;
  background-color:#262626;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


