/* --storm-dust-50: #f6f6f6;
--storm-dust-100: #e7e7e7;
--storm-dust-200: #d1d1d1;
--storm-dust-300: #b0b0b0;
--storm-dust-400: #888888;
--storm-dust-500: #666666;
--storm-dust-600: #5d5d5d;
--storm-dust-700: #4f4f4f;
--storm-dust-800: #454545;
--storm-dust-900: #3d3d3d;
--storm-dust-950: #262626;
 */

.form{
    background-color: #666666   ;
    color:#262626;
    border-radius: 15px;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 50px 30px;
    text-align: center;
}
.inputs{
    display: grid;
    gap: 40px
}
.input{
    position: relative;
}
.date{
    cursor: pointer;
}

.button{
    color:#262626;
    background-color:#b0b0b0;
    font-size: 15px;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    padding: 10px 20px;
    transition-duration: font-size padding border 0,5s ;
}

.button:hover{
    background-color:#3d3d3d;
    color:#b0b0b0;
}

/*para dar la sensacion de que se presiona*/ 
.button:active{
    border: 2px solid black;
    padding: 8.5px 18px;
    font-size: 14px;
}


