.container{
    display:flex;
    justify-content: center;
}

.form{
    background-color: #464646;
    display:grid;
    width:60%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:1fr repeat(6,auto);
    padding:1.5vh;
    gap:2vh;
    border-radius:1vh
}

.form h1{
    grid-column-start: span 5;
    color:black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.form > div{
    display:flex;
    flex-direction: row;
    background-color:#888888;
    border-radius:0.5vh;
    grid-column:span 5;
    border-radius: 1vh;
    border:solid black 0.2vh;
}

.form > div > label{
    padding: 0.5vh;
    font-style: italic;
    font-size: 2em;
    width:50%;
    color:black;
    text-align: center;
    
}

.form div input{
    width:50%;
    border-radius: 1vh;
}

.form p{
    margin-top: 0;
    color:red;
    grid-column-start: span 5;
    height: 1em;
}

.form button{
    background-color: rgb(117, 117, 117);
    width:100%;
    grid-column: 2/5;
    font-size: 2em;
}

.form button:last-child{
    background-color: #535353;
}