.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: green;
    text-decoration: none;
    transition: text-shadow 0.2s;
}

.link:hover{
    text-shadow:0 0 0.2em green;
}