.container{
    display:flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.container a{
    color: green;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 1s ;
}

a:not(.logo):hover{
    border-bottom: 1px solid green;
}

/* .imgLogo{
    transition:height margin-right 0.5s ease;
}

.imgLogo:hover{
    height: 35px;
    margin-right: -5px;
} */